.fixed-header {
  top: 0;
  position: sticky;
  z-index:999;
  .spacer {
    flex: 1 1 auto
  }
}

.sub-header {
  height: 80px;
  .spacer {
    width: 20px;
  }
  h2 {
    font-weight: lighter;
  }
}
