<mat-toolbar color="primary" class="fixed-header">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

<!--  <a [routerLink]='' style="color: white; text-underline: none">-->
    <h1>Ysnerruk</h1>
<!--  </a>-->
  <span class="menu-spacer"></span>
  <!--  <div >-->
  <!--    <a mat-button [routerLink]="navItem.routerLink" *ngFor="let navItem of locations">-->
  <!--      <mat-icon>{{navItem.icon}}</mat-icon>-->
  <!--      {{navItem.pageName}}-->
  <!--    </a>-->
  <!--  </div>-->
  <span class="spacer"></span>

  <!--  <button mat-flat-button color="accent" routerLink="/register">SIGN UP</button>-->
  <span *ngIf="username()">{{ username() }}</span>
  <button mat-icon-button (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="navItem.routerLink" *ngFor="let navItem of locations">
        <mat-icon>{{navItem.icon}}</mat-icon>
        {{navItem.pageName}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--    <mat-toolbar *ngIf="title" class="sub-header" color="accent">-->
    <!--      <span class="spacer"></span>-->
    <!--      <h2>{{title}}</h2>-->
    <!--    </mat-toolbar>-->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
